<ion-view view-title="Home">
    <ion-content class="content-positive">
        <div id="market-content">   <!-- Put stuff inside this to change the content of the market tab! -->
            <h3>Market Stuff!</h3>
        </div>
        <div id="sets-content">   <!-- Put stuff inside this to change the content of the sets tab! -->
            <div ng-if="globalDataService.showSets" ng-repeat="image in globalDataService.previewImages" class = 'setPhoto'>
				<p class="header">{{globalDataService.dirList[$index].substring(3).split('/')[0]}}</p>
				<p class="header">Test subject</p>
				<img ng-src = "{{globalDataService.previewImages[$index]}}">
				<a ng-click="customFileIOService.changePage($index, 'modify')">Edit</a><a ng-click="customFileIOService.changePage($index, 'study')">Learn</a><a ng-click="customFileIOService.changePage($index, 'test')">Test</a>
			</div>
       </div> 
    </ion-content>
    
    <div id="home-dropdown">
        <ul>
		<li id="button3" style="margin-right: calc(20% - 120px);"> <!-- Same as above -->
                <a href="#"><span><i class="ion-plus-round"></i></span><span>Create</span></a>
                <ul>
                    <li><a ng-click="takePhotoFromGallery()"><span>From Gallery</span></a></li>
                    <li><a ng-click="takePhoto()"><span>Take Photo</span></a></li>
                    <li><a ng-click="setToDefaultPhoto()"><span>Default (debug)</span></a></li>
                    <ul></ul>
                </ul>
            </li>
            <li id="button1"> <!-- Some inline css to ensure the buttons stretch apart dynamically -->
               <a href="#"><span><i class="ion-bag"></i></span><span>Marketplace</span></a>
            </li>
            <li id="button2" style="margin-left: calc(20% - 120px);">
                <a href="#"><span><i class="ion-person"></i></span><span>My Sets</span></a>
            </li>
            
        </ul>
    </div> 
</ion-view>

