<ion-popover-view class="save_popover_style">
	<ion-content sroll="false">
		<div class="save_popover_style exit_btn" ng-click="save_popover.hide()">
			<p><span>X</span></p>
		</div>
		
		<div class="save_popover_style title_text">
			<p><span>Set Title</span></p>
		</div>
		<div>
			<input class="save_popover_style title_input" id="save_title">
		</div>
		
		<div class="save_popover_style subject_text">
			<p><span>Set Subject</span></p>
		</div>
		<div>
			<input class="save_popover_style subject_input" id="save_subject">
		</div>
		<div class="save_popover_style line"></div>
		
		<div class="save_popover_style save_btn" ng-click="callSave()">
			<p>Save!</p>
		</div>
			
	</ion-content>
</ion-popover-view>