<ion-view view-title="Study" resize ng-app="app">
	<ion-nav-buttons side="right">
	  <a style="color:white;font-size:30px;margin-right:20px" ng-click="showScores()" class="button button-clear button-bold ion-ios-paper">
      </a>
      <a style="color:white;font-size:30px" ng-click="switchOpenAll(!openAll)" class="button button-clear button-bold ion-eye">
      </a>
	</ion-nav-buttons>
	<ion-content class="content-positive">
		<div id="imghld2" ng-if="globalDataService.showImage" class="img-holder">
			<img id="imagecont2" class="image" ng-click="switchOpenAll(false)" ng-src="{{photoService.image}}">
			<button ng-if="!openAll" style="margin-top:-23px !important; margin-left:-20px !important" ng-repeat="label in labelsService.labels" class="button energized button-icon icon ion-ios-circle-filled label" ng-init="setStyle($index)" ng-click="openPopover($event, $index)" ng-style="labelStyle[$index]"></button>
            <button ng-if="openAll" style="margin-top:-23px !important; margin-left:-20px !important" ng-repeat="label in labelsService.labels" class="button energized button-icon icon ion-ios-circle-filled label" ng-init="setStyle($index)" ng-style="labelStyle[$index]"><div class="fakePop">{{label.label}}</div></button>
		</div>
	</ion-content>
</ion-view>
